body {background: #a9a9ff url(background.png) center}
#manifest {font-family:'Ubuntu', sans-serif;border:2px gray solid;border-radius:20px;max-width: 900px;margin: 10px auto;background-color:white;}
h1, h2 {font-family:'VT323', monospace;font-weight:400;}
header {display:block;background:#a9a9ff linear-gradient(to right, rgba(255,255,255,0.25), rgba(0, 0, 0, 0.25));padding:20px 50px;color:white;border-radius: 19px 19px 0 0;}
body#home header {padding:50px 50px;}
header > h1 {font-size:45px;}
header > h1, header > h2 {margin:0px}
menu {margin:0px;background:gray;color:white;padding:0px;line-height:38px;}
menu > a {color:white;text-decoration:none;}
menu > a > menuitem {padding:10px 20px;}
menu > a:hover > menuitem {background:rgba(0, 0, 0, 0.25);}
#content {padding:10px;overflow:hidden}
#portfolio #content > #filter {left: 0; width: 33.33%; display: block; background-color: rgba(128,128,128,0.50); color: white; float: left; padding: 10px; box-sizing: border-box;}
#portfolio #content > #filter > h3 {margin: 0.25em 0;}
#portfolio #content > #filter > hr {border: 1px solid white;}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label::before {
  content: '';
  margin-right: 5px;
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
  border: 1.5px solid black;
  font-size: 13px;
  border-radius: 15%;
  box-sizing: border-box;
}
input[type="checkbox"]:checked + label::before {
  background: black;
}
#portfolio #content > #filter input[type="checkbox"] + label::before {border: 1.5px solid white;}
#portfolio #content > #filter input[type="checkbox"]:checked + label::before {background: white;}
#portfolio #content > #result {
    width: 66.66%;
    float: left;
}
